<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<p>Here are all your friends:</p>
<tr th:each="personinfo : ${personinfos}">
    <p>
    <td><a th:href="'/fellow?id='+${personinfo.login}" th:text="${personinfo.login}"></a></td>
    <td th:text="${personinfo.name}"></td>
    <td th:text="${personinfo.surname}"></td>
    <td th:text="${personinfo.age} + ' y.o.'"></td>
    </p>
</tr>

<p>Click <a th:href="@{/mypage}">here</a> to go back to your personal page.</p>
<p>Click <a th:href="@{/all}">here</a> to see all the people.</p>
<form method="POST" th:action="@{/logout}">
    <button type="submit" name="submit" value="value" class="link-button">LOGOUT</button>
</form>
</body>
</html>