<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<body>
<p>Click <a th:href="@{/edit}">here</a> to edit your page.</p>
<div th:text="'Your name is ' + ${personinfo.name}"></div>
<div th:text="'Your surname is ' + ${personinfo.surname}"></div>
<div th:text="'Your age is ' + ${personinfo.age}"></div>
<div th:text="'Your sex is ' + ${personinfo.sex}"></div>
<div th:text="'Your interests are ' + ${personinfo.interests}"></div>
<div th:text="'Your city is  ' + ${personinfo.city}"></div>

<p>Click <a th:href="@{/friends}">here</a> to see your friends.</p>
<p>Click <a th:href="@{/all}">here</a> to see all the people.</p>
<form method="POST" th:action="@{/logout}">
    <button type="submit" name="submit" value="value" class="link-button">LOGOUT</button>
</form>
</body>
</html>