<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
</head>
<body>
<p>Click <a th:href="@{/edit}">here</a> to edit your page.</p>
<div th:text="'Your name is ' + ${name}"></div>
<div th:text="'Your surname is ' + ${surname}"></div>
<div th:text="'Your age is ' + ${age}"></div>
<div th:text="'Your sex is ' + ${sex}"></div>
<div th:text="'Your interests are ' + ${interests}"></div>
<div th:text="'Your city is  ' + ${city}"></div>

<p>Click <a th:href="@{/friends}">here</a> to see your friends.</p>
<p>Click <a th:href="@{/all}">here</a> to see all the people.</p>

</body>
</html>